<!DOCTYPE html>
<html lang="{{ or .LanguageTag "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ or .Title "Internal Server Error" }}</title>
    <meta name="description" content="{{ .Description }}">
    {{- block "head" . -}}
    <style media="all">
      body {
        color: {{ block "textColor" .}}#333{{ end }};
        background-color: {{ block "backgroundColor" .}}#fff{{ end }};
      }

      article {
        margin: 4em auto;
        max-width: 25em;
      }

      a {
        display: block;
        padding: 1em 1.5em;
        border-radius: 0.5em;
        color: {{ template "backgroundColor" . }};
        background-color: {{ block "actionColor" .}}#0edd7a{{ end }};
      }
    </style>
    {{- end -}}
  </head>
  <body>
    <article>
      <h1>
        {{ .Title }}
        {{ with .KnowledgeCode }}
          - {{ . }}
        {{ end}}
      </h1>
      <p>{{ .Message }}</p>
      <p>{{ .Description }}</p>
      {{- block "return" . -}}
        <p><a href="#back" onclick="window.history.back()">go back</a></p>
      {{- end -}}
    </article>
  </body>
</html>
